$black: #363839
$lightgray: #9c9e9f
$gray: #bdc1c6
$white: #fff
$green: #cef6da
$blue: #485fc7
$red: #fdd3d3
$yellow: #fff9ad

*
    box-sizing: border-box

/* montserrat-100 - latin */
@font-face
    font-family: 'Montserrat'
    font-style: normal
    font-weight: 100
    src: url('./assets/fonts/montserrat-v15-latin-100.woff2') format('woff2'), url('./assets/fonts/montserrat-v15-latin-100.woff') format('woff')

/* montserrat-300 - latin */

    &
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 300
        src: url('./assets/fonts/montserrat-v15-latin-300.woff2') format('woff2'), url('./assets/fonts/montserrat-v15-latin-300.woff') format('woff')

/* montserrat-regular - latin */

    &
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 400
        src: url('./assets/fonts/montserrat-v15-latin-regular.woff2') format('woff2'), url('./assets/fonts/montserrat-v15-latin-regular.woff') format('woff')

/* montserrat-500 - latin */

    &
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 500
        src: url('./assets/fonts/montserrat-v15-latin-500.woff2') format('woff2'), url('./assets/fonts/montserrat-v15-latin-500.woff') format('woff')

/* montserrat-600 - latin */

    &
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 600
        src: url('./assets/fonts/montserrat-v15-latin-600.woff2') format('woff2'), url('./assets/fonts/montserrat-v15-latin-600.woff') format('woff')

/* montserrat-700 - latin */

    &
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 700
        src: url('./assets/fonts/montserrat-v15-latin-700.woff2') format('woff2'), url('./assets/fonts/montserrat-v15-latin-700.woff') format('woff')

/* montserrat-800 - latin */

    &
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 800
        src: url('./assets/fonts/montserrat-v15-latin-800.woff2') format('woff2'), url('./assets/fonts/montserrat-v15-latin-800.woff') format('woff')

html
    height: 100%

body
    height: 100%
    font-size: 1rem
    font-family: "Montserrat", sans-serif
    line-height: 1.5
    overflow: auto

main
    column-gap: 2rem
    margin: 0 2rem

p,
li,
h1,
h2,
h3,
h4
  // Help prevent overflow of long words/names/URLs
    word-break: break-word
    hyphens: auto
    margin-top: 0

.box
    border-radius: 6px
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%)
    color: #4a4a4a
    padding: 1.25rem

.hidden
    display: none

.flex
    display: flex

.flex-col
    display: flex
    flex-direction: column

.all-center
    justify-content: center
    align-items: center

.text-center
    text-align: center

.selected
    animation: slide-out 0.3s forwards
    -webkit-animation: slide-out 0.3s forwards

.dismiss
    animation: slide-in 0.3s forwards
    -webkit-animation: slide-in 0.3s forwards

.high
    background-color: $red

.medium
    background-color: $yellow

.low
    background-color: $green

.visually-hidden
    position: absolute
    overflow: hidden
    clip: rect(0 0 0 0)
    width: 1px
    height: 1px
    margin: -1px
    border: 0
    padding: 0

.page-header
    margin: 1rem 2rem
    align-items: center
    justify-content: space-between

    .new-project-wrapper
        column-gap: 1rem

        .new-project-btn
            background-color: white
            margin: 0
            min-width: 10rem
            z-index: 1000

        .project-form-wrapper
            display: none
            overflow: hidden
            transform: translateX(100%)

    .del-project-wrapper

        a
            font-size: 1rem
            color: #7c7c7c94
            cursor: pointer
            text-decoration: none

            &:hover
                color: #202020

            &:visited
                color: #4a4a4a

.task-section
    flex: 80%
    align-items: center
    row-gap: 2rem

    .box
        padding: 0.5rem
    
    .form-wrapper
        max-width: 50rem

        textarea
            max-width: 45rem

.task-wrapper
    width: 74%
    min-width: 70%
    row-gap: 0.5rem

    .todo-item
        display: flex
        z-index: 1000
        column-gap: 0.5rem
        justify-content: space-between
        padding: 0.5rem 0.5rem 0
        height: 3rem
        overflow: hidden
        transition: height 0.2s ease
        border-radius: 6px

        header
            align-items: center
            justify-content: space-between
            min-height: 2rem

            .checkbox-wrapper
                align-items: center
                flex-basis: 90%
                max-width: 90%
                overflow-wrap: break-word

            input[type="checkbox"]
                flex-basis: 1.2rem
                margin-right: 0.5rem   
                position: relative
                width: 1.2rem
                height: 1.5em
                color: $black
                border: 1px solid $gray
                border-radius: 4px
                appearance: none
                outline: 0
                cursor: pointer
                transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1)

                &::before
                    position: absolute
                    content: ''
                    display: block
                    top: 2px
                    left: 7px
                    width: 3px
                    height: 10px
                    border-style: solid
                    border-color: $white
                    border-width: 0 2px 2px 0
                    transform: rotate(45deg)
                    opacity: 0

                &:checked
                    color: $white
                    border-color: $blue
                    background: $blue
                    &::before
                        opacity: 1

                    ~ label::before
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)

            label
                min-width: 0
                text-overflow: clip
                overflow: hidden
                position: relative
                cursor: pointer
                font-size: 0.9rem
                font-weight: 600
                user-select: none

                &::before
                    position: absolute
                    content: attr(data-content)
                    color: $lightgray
                    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%)
                    text-decoration: line-through
                    text-decoration-thickness: 3px
                    text-decoration-color: $black
                    transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94)

            .todo-date
                flex-basis: 10%
                color: #00000091
                font-size: 0.8rem
                text-align: right

                &:hover
                    cursor: pointer

                p:first-of-type
                    flex: 1 2 90%

        .todo-desc
            margin-left: 4px

        footer
            justify-content: flex-end
            padding-bottom: 0.5rem

            .todo-action
                padding: 0 0.5rem

            .fa-trash, .fa-edit
                cursor: pointer
                color: #00000091

.todo-item.todo-expanded
    height: fit-content

.todo-item.todo-unexpanded
    height: 3rem

.todo-unexpanded > .todo-desc
    opacity: 0
    animation: unreveal 0.2s ease

.todo-expanded > .todo-desc
    opacity: 1
    animation: reveal 0.2s ease

.ghost-input
    display: block
    font-weight: 300
    width: 100%
    font-size: 1rem
    border: 0px
    outline: none
    width: 100%
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    color: #4b545f
    background: #fff
    font-family: "Montserrat", sans-serif
    padding: 10px 15px
    -webkit-transition: all 0.1s ease-in-out
    -moz-transition: all 0.1s ease-in-out
    -ms-transition: all 0.1s ease-in-out
    -o-transition: all 0.1s ease-in-out
    transition: all 0.1s ease-in-out

    &:focus
        border-bottom: 1px solid #ddd

.input-group
    display: flex
    flex: 50%
    align-items: center
    justify-content: flex-start
    margin: 0

    label
        padding-right: 0.5rem

.form-control
    column-gap: 10rem

.radio-header
    padding-right: 1rem
    font-weight: 600

.radio-field
    align-items: baseline

.ghost-button
    align-self: center
    background-color: transparent
    border: 2px solid #ddd
    padding: 10px 30px
    min-width: 30%
    max-width: 40%
    -webkit-transition: all 0.1s ease-in-out
    -moz-transition: all 0.1s ease-in-out
    -ms-transition: all 0.1s ease-in-out
    -o-transition: all 0.1s ease-in-out
    transition: all 0.1s ease-in-out

    &:hover
        border: 2px solid #515151

.overlay
    position: fixed
    display: none
    width: 100%
    height: 100%
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0,0,0,0.5)
    z-index: 9999
    cursor: pointer

    .edit-form
        position: absolute
        z-index: 9999999
        top: 50%
        left: 50%
        font-size: 50px
        color: white
        background-color: white
        transform: translate(-50%,-50%)
        -ms-transform: translate(-50%,-50%)

        .form-control
            column-gap: 9rem

.sidebar
    flex: 25%
    font-size: 1rem

    .sidebar-nav
        list-style: none
        margin: 0
        padding: 0

        li:not(:first-child)

            margin-top: 1rem

        a
            border-radius: 2px
            color: #4a4a4a
            display: block
            padding: .5em .75em
            cursor: pointer
            text-decoration: none

            &:hover
                background-color: #f5f5f5
                color: #363636

        .active
            a
                background-color: #485fc7
                color: #fff

@keyframes slide-in
    0%
        transform: translateX(0%)

    100%
        transform: translateX(-100%)

@keyframes slide-out
    0%
        transform: translateX(-50%)

    100%
        transform: translateX(0%)

@keyframes reveal
    0%
        opacity: 0
        transform: translateY(-20px)

    100%
        opacity: 1
        transform: translateY(0)

@keyframes unreveal
    0%
        opacity: 1
        transform: translateY(0)

    100%
        opacity: 0
        transform: translateY(-5px)
